@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100%;
  background: #1d1e22;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: #eaeaea;
    background-color: #000;
    padding: 1rem;
    font-size: 1.25rem;
}
.logo {
    height: 80px;
    width: 150px;
    padding: 10px 10px 10px 20px;
}

.nav__link {
    margin-right: 3rem;
    display: flex;
}

.nav__link > div {
    position: relative;
    margin-left: 3rem;
}

.nav__link > div::after {
    opacity: 0;
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #eaeaea;
    transition: opacity 150ms ease-in-out 100ms;
}

.nav__link > div:hover::after {
    opacity: 1;
    transition-delay: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.button {
    color: #eaeaea;
    border: 1px solid currentColor;
    border-radius: 6px;
    padding:  0.8rem 1.5rem;
    position: relative;
    justify-content: center;
    animation: rainbow-font 2s infinite alternate;
    z-index: 1;
}

.button::before {
    content: '';
    background: currentColor;
    opacity: 0.05;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.button::after {
    content: 'oogle';
}

.button:hover {
    animation-duration: 800ms;
    box-shadow: 0 0 20px 20px currentColor;
}

.button:hover::after {
    content: "ratulacje uzytowniku wygrales Iphone 4S!!!";
}

.ppd {
    height: 300px;
    width: 200px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    background-image: url('https://f2.photoblog.pl/fbl-2012/201201/112966099.jpg');
    background-size: 100% 100%;
    background-position: center center;
}

.ppd:hover {
    animation: YES 2s linear infinite forwards;
}

.ppd:hover::after {
    content: "JD";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: 0.5;
    animation: rainbow-font 500ms linear infinite forwards;
}
.smb {
    width: 350px;
    height: 200px;
    border-radius: 6px;
    
}

.center__dla__filmiku {
    align-self: center;
    margin-top: 1.5rem;
}

@keyframes rainbow-font {
    0% { color: red }
    15% { color: orange }
    30% { color: yellow }
    45% { color: green }
    60% { color: cyan }
    75% { color: blue }
    85% { color: purple }
    100% { color: pink }
}

@keyframes YES {
    0% { transform: rotate(0deg) scale(1); background-size: 100% 100%; }
    33% { transform: rotate(120deg) scale(1.5); background-size: 300% 300%; }
    66% { transform: rotate(-120deg) scale(1.25); background-size: 200% 200%; }
    100% { transform: rotate(0deg) scale(1); background-size: 100% 100%; }
}
